<div class="grid desktop:grid-cols-4 h-screen">
    <div class="desktop:col-span-1">
        <app-detail></app-detail>
    </div>
    <div class="bg-white desktop:col-span-3 flex flex-col items-center px-9">
        <div class="w-full">
            <p-tabView>
                <p-tabPanel header="overview">
                    <app-overview></app-overview>
                </p-tabPanel>
                <p-tabPanel header="ประเมินผลหลังสอน">
                    <app-estimate></app-estimate>
                </p-tabPanel>
                <!-- <p-tabPanel header="ผลการประเมินความพร้อมพัฒนาการทั้ง 4 ด้าน ตลอดปีการศึกษา">
                    <app-evaluation></app-evaluation>
                </p-tabPanel> -->
            </p-tabView>
        </div>
    </div>
</div>