<div class="grid desktop:grid-cols-12 laptop:grid-cols-7 h-screen">
    <div class="bg-purple-cus col-span-3 p-6 grid grid-cols-1 gap-2 justify-items-center">
        <img class="desktop:h-56" src="{{child.imagePath}}">
        <div class=" text-slate-50 text-lg">
            <h1 class="text-4xl">{{child.nickName}}</h1>
            <h1 class="text-gold-cus">ชั้นเด็กเล็กปีที่ {{child.grade}}</h1>
            <h1>{{child.fname +" "+child.lname}}</h1>
            <h1>เลขประจำตัวประชาชน {{child.idCard}}</h1>
            <h1>เกิดวันที่ {{child.bod.getDay()}}/{{child.bod.getMonth()}}/{{child.bod.getFullYear()}}</h1>
            <h1>เชื้อชาติ {{child.ethnicity}} สัญชาติ {{child.nationality}}</h1>
            <h1>ชื่อผู้ปกครอง {{child.parentName}}</h1>
            <h1>ที่อยู่ {{child.address.houseNumber}} หมู่ {{child.address.moo}} ตำบล {{child.address.tambon}} อำเภอ
                {{child.address.district}} จังหวัด {{child.address.province}}</h1>
            <h1>โทรศัพท์ {{child.tel}}</h1>
        </div>
        <button
            class="bg-white flex flex-col w-56 h-12 rounded-lg justify-center items-center text-lg">แก้ไขข้อมูล</button>
    </div>
    <div class="desktop:col-span-9 laptop:col-span-4">
        <div class="px-3">
            <div class="border-b border-gray-200">
                <div class="-mb-px flex space-x-8 px-4" aria-orientation="horizontal" role="tablist">
                    <button (click)="selectTab(true)"
                        class="text-gray-900 border-transparent flex-1 whitespace-nowrap border-b-2 py-4 px-1 text-base font-medium hover:bg-gray-100"
                        aria-controls="tabs-1-panel-1" role="tab" type="button">Overview</button>
                    <button (click)="selectTab(false)"
                        class="text-gray-900 border-transparent flex-1 whitespace-nowrap border-b-2 py-4 px-1 text-base font-medium hover:bg-gray-100"
                        aria-controls="tabs-1-panel-2" role="tab" type="button">ผลการประเมิน</button>
                </div>
            </div>
        </div>
        <div *ngIf="selected else result" class="grid desktop:grid-cols-8 gap-6 p-3 text-xl text-end">
            <div class="col-span-4 bg-gray-400 rounded-tl-[80px] desktop:pt-44 p-4 desktop:h-56 w-auto laptop:h-36 laptop:pt-24">
                <span class="">พัฒนาการด้านร่างกาย</span>
            </div>
            <div class="col-span-4 bg-gray-400 rounded-tl-[80px] desktop:pt-44 p-4 desktop:h-56 w-auto laptop:h-36 laptop:pt-24">
                <span class="">พัฒนาการด้านรอารมณ์และจิตใจ</span>
            </div>
            <div class="col-span-4 bg-gray-400 rounded-tl-[80px] desktop:pt-44 p-4 desktop:h-56 w-auto laptop:h-36 laptop:pt-24">
                <span class="">พัฒนาการด้านสังคม</span>
            </div>
            <div class="col-span-4 bg-gray-400 rounded-tl-[80px] desktop:pt-44 p-4 desktop:h-56 w-auto laptop:h-36 laptop:pt-24">
                <span class="">พัฒนาการด้านสติปัญญา</span>
            </div>
        </div>
        <ng-template #result>
            <div>
                ผลการประเมิน
            </div>
        </ng-template>
    </div>
</div>