<nav aria-label="Top" class="relative mx-auto w-full bg-white px-0">
    <div class="border-b-12 border-gold-cus px-8">
        <div class="flex h-16 items-center">

            <!-- Logo -->
            <div class="ml-4 flex h-auto desktop::ml-0">
                <a (click)="navigateMainPage()">
                    <img class="h-10 w-auto" src="../../assets/Logo.png" alt="">
                </a>
            </div>

            <div *ngIf="!hid" class="ml-auto flex items-center">
                <div class="hidden desktop:flex desktop:flex-1 desktop:items-center desktop:justify-end desktop:space-x-6">
                    <a routerLink="add-child" class="text-sm font-medium text-gray-700 hover:text-gray-800">ลงทะเบียนเด็กนักเรียน</a>
                    <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                    <span class="mobile:ml-3">
                        <button (click)="logOut()" type="button"
                            class="inline-flex items-center rounded-md border border-transparent bg-purple-cus px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-cus focus:outline-none focus:ring-2 focus:ring-purple-cus focus:ring-offset-2">
                            ออกจากระบบ
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>