<div class="fixed bg-bg-cus bg-cover w-full h-screen grid place-items-center">
    <form (ngSubmit)="login()"
        class="grid grid-cols-1 mb-16 laptop:grid-cols-3 laptop:w-5/12 place-items-center desktop:grid-cols-3">
        <div
            class="bg-purple-cus hidden w-full rounded-l-xl laptop:flex items-end laptop:col-span-1  laptop:h-96 desktop:col-span-1">
            <img src="../../assets/Lovepik_com-401176518-cute-childrens-day-childrens-day 1.png" alt="">
        </div>
        <div
            class="bg-white rounded-r-xl w-full p-10 grid gap-y-2 laptop:col-span-2 laptop:grid-cols-1 laptop:h-96 laptop:p-9 desktop:col-span-2">
            <h1 class="text-center text-3xl font-bold col-span-2">ลงชื่อเข้าใช้</h1>
            <div class="col-span-2">
                <label for="username" class="block text-laptop font-medium text-gray-700">ชื่อผู้ใช้</label>
                <input type="text" autocomplete="username" name="username" [formControl]="username"
                    class="mt-1 block w-full rounded-md border-gray-300 bg-gray-300  shadow-laptop focus:border-purple-cus focus:ring-puborder-purple-cus laptop:text-laptop">
                <span *ngIf="username.invalid && username.touched" class="text-red-600">กรุณากรอกชื่อผู้ใช้</span>
            </div>
            <div class="col-span-2">
                <label for="password" class="block text-laptop font-medium text-gray-700">รหัสผ่าน</label>
                <input type="password" autocomplete="username" name="password" [formControl]="password"
                    class="mt-1 block w-full rounded-md border-gray-300 bg-gray-300 shadow-laptop focus:border-purple-cus focus:ring-puborder-purple-cus laptop:text-laptop">
                <span *ngIf="password.invalid && password.touched" class="text-red-600">กรุณากรอกรหัสผ่าน</span>
            </div>
            <div class="col-span-2 flex relative justify-between items-center">
                <div>
                    <input type="checkbox" name="" id=""> จดจำรหัสผ่าน
                </div>
                <button class="text-red-600">ลืมรหัสผ่าน?</button>
            </div>
            <button type="submit"
                class="col-span-2 group relative flex w-full h-12 justify-center rounded-md border border-transparent bg-purple-cus py-3 px-4 text-laptop font-medium text-white hover:bg-purple-cus focus:outline-none focus:ring-2 focus:ring-purple-cus focus:ring-offset-2">
                Sign in
            </button>
        </div>
    </form>
</div>