<div class="grid grid-cols-2 gap-2 text-xl">
    <div class="block h-52 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
        พัฒนาการด้านร่างกาย
    </div>
    <div class="block h-52 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
        พัฒนาการอารมณ์และจิตใจ
    </div>
    <div class="block h-52 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
        พัฒนาการด้านสังคม
    </div>
    <div class="block h-52 p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100">
        พัฒนาการด้านสติปัญญา
    </div>
</div>
