<div class="w-auto flex flex-col gap-2">
    <div class="flex flex-row pb-5 w-auto justify-between">
        <div class="col-span-1">
            <b class="text-black">จุดประสงค์การเรียนรู้</b>
        </div>
        <div class="">
            <div class="flex justify-center">
                <select
                    class="inline-flex rounded-md border border-transparent w-52 bg-purple-cus px-4 py-2 text-sm text-center font-medium text-white shadow-sm hover:bg-purple-cus focus:outline-none focus:ring-2 focus:ring-purple-cus focus:ring-offset-2">
                    <option class="bg-purple-cus">สัปดาห์ที่ 1</option>
                </select>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-between items-center gap-2 w-auto">
        <div>
            <p>ทำความสะอาดร่างกายหลังการเล่นได้ 1.2.4</p>
        </div>
        <div>
            <input type="text"
                class="mt-1 block w-auto rounded-md border-gray-300 shadow-sm focus:border-purple-cus focus:ring-puborder-purple-cus laptop:text-sm">
        </div>
    </div>
    <!-- <button class="bts">แก้ไขข้อมูล</button> -->
</div>