<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="grid place-items-center h-auto z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center laptop:items-center laptop:p-0">

            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all laptop:my-8 laptop:w-full laptop:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 laptop:p-6 laptop:pb-4">
                    <div class="laptop:flex laptop:items-start">
                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 laptop:mx-0 laptop:h-10 laptop:w-10">
                            <!-- Heroicon name: outline/exclamation-triangle -->
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 10.5v3.75m-9.303 3.376C1.83 19.126 2.914 21 4.645 21h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 4.88c-.866-1.501-3.032-1.501-3.898 0L2.697 17.626zM12 17.25h.007v.008H12v-.008z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center laptop:mt-0 laptop:ml-4 laptop:text-left">
                            <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">
                                ไม่พบข้อมูลของเด็กในฐานข้อมูล
                            </h3>
                            <div class="mt-2">
                                <p class="text-laptop text-gray-500">
                                    โปรดทำการคลิกลงทะเบียนเด็กเพื่อเพิ่มข้อมูลเด็กนักเรียนลงในฐานข้อมูล</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 laptop:flex laptop:flex-row-reverse laptop:px-6">
                    <button type="button" routerLink="/add-child"
                        class="inline-flex w-full justify-center rounded-md border border-transparent bg-purple-cus px-4 py-2 text-base font-medium text-white shadow-laptop hover:bg-purple-900 focus:outline-none focus:ring-2 focus:ring-purple-cus focus:ring-offset-2 laptop:ml-3 laptop:w-auto laptop:text-laptop">ลงทะเบียนเด็ก</button>
                    <button type="button" (click)="logOut()"
                        class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-laptop hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-purple-cus focus:ring-offset-2 laptop:mt-0 laptop:ml-3 laptop:w-auto laptop:text-laptop">ออกจากระบบ</button>
                </div>
            </div>
        </div>
    </div>
</div>